@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
        url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: local("PT Sans Bold"),
        url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    background-color: #fff;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    display: flex;
    width: 1200px;
    height: 65px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 410px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-item {
    margin: 0 auto;
    text-align: center;
}

.navigation-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.header-logo {
    margin: 0 auto;
}

.navigation-search {
    width: 18px;
    height: 18px;
    margin-top: 23px;
    margin-bottom: 23px;
    padding: 0;
    background-color: #fff;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;

}

.navigation-like{
    width: 31px;
    height: 27px;
    margin-top: 13px;
    margin-bottom: 23px;
    padding: 0;
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
}

.navigation-button {
    width: 160px;
    height: 37px;
    margin-top: 14px;
    margin-bottom: 14px;
    background: #756257;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.main-index {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.main-intro {
    width: 1200px;
    height: 767px;
    margin: 0 auto;
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}


.main-logo {
    width: 458px;
    height: 352px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}

.main-divider {
    width: 1200px;
    height: 57px;
    margin-top: 31px;
}

.main-intro-description {
    Width: 720px;
    Height: 80px;
    margin: 0 auto;
    margin-top: 65px;
}

.heading-intro {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.benefits {
    width: 1200px;
    height: 1535px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
}

.benefits-card {
    width: 400px;
    height: 384px;
    background-color: #83B3D3;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.benefits-cards-primary {
    width: 400px;
    height: 384px;
    color: white;
}

.benefits-cards-secondary {
    width: 400px;
    height: 384px;
    text-align: center;
}

.benefits-heading {
    margin: 0 auto;
    width: 400px;
    height: 60px;
    padding-top: 98px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.benefits-heading-subclass{
    margin: 0 auto;
    width: 250px;
    height: 28px;
    padding-top: 23px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.benefits-number {
    margin: 0 auto;
    width: 250px;
    height: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.benefits-text-bluecard {
    margin: 0 auto;
    width: 220px;
    height: 73px;
    padding-bottom: 77px;
    text-align: center;
}

.benefits-text-othercard {
    margin: 0 auto;
    width: 250px;
    height: 73px;
    padding-bottom: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.card-lodging {
    margin: 0 auto;
    padding-top: 89px;
}

.card-foot {
    margin: 0 auto;
    padding-top: 91px;
}

.card-souvenir {
    margin: 0 auto;
    padding-top: 85px;
}

.benefits-card-bg {
    background-color: rgba(131, 179, 211, 0.12);
}

.benefits-cards-food{
    background-color: #fff;
}

.benefits-card-passbg{
    background-color: rgba(131, 179, 211, 0.2);
}


.search {
    width: 1200px;
    height: 417px;
}

.heading {
    width: 720px;
    height: 50px;
    margin: 0 auto;
    padding-top: 92px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.search-text {
    width: 720px;
    height: 50px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 53px;
}

.search-hotel {
    width: 565px;
    height: 60px;
    display: block;
    margin: 0 auto;
    background: #756257;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe {
    width: 1200px;
    height: 411px;
    background-image: url(../images/subscribe-background.jpg);
    background-repeat:no-repeat;
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    width: 800px;
    height: 60px;
    margin: 0 auto;
}

.subscribe-form-input {
    width: 600px;
    height: 60px;
    background: #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.subscribe-button {
    width: 200px;
    height: 60px;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.footer-social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    width: 120px;
    height: auto;
    margin: 50px 60px 54px 72px;
    padding: 0;
}

.footer-social-item {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-bottom: 23px;
}

.footer-social-twitter {
    background-image: url(../images/social-twitter.png);
    background-repeat: no-repeat;
}

.footer-social-facebook {
    background-image: url(../images/social-facebook.png);
    background-repeat: no-repeat;
}

.footer-social-youtube {
    background-image: url(../images/social-youtube.png);
    background-repeat: no-repeat;
}

.tel-number{
    display: block;
    width: 720px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.footer-logo {
    display: block;
    width: 115px;
    height: 33px;
    margin: 42px 72px 45px 53px;
}

.filters {
    width: 1200px;
    height: 408px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-image: url(../images/img_catalog/catalog-background.jpg);
    background-repeat: no-repeat;
}

.filters-heading {
    width: 528px;
    height: 68px;
    margin: 35px 601px 0px 71px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs  {
    display: flex;
    margin: 0 auto;
    margin-left: 63px;
    padding-left: 0px;
    list-style-type: none;
}

.breadcrumbs-item {
    margin-left: 10px;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.catalog {
    width: 1200px;
    height: 1090px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.catalog-filter {
    display: flex;
    justify-content: center;
}

.catalog-filter-group {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.catalog-fiter_apply {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.sorting {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    height: 48px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 42px;
}

.found {
    display: block;
    width: 337px;
    height: 39px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.select {
    display: block;
    width: 287px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.bottom-sorting-wrapper {
    display: flex;
    justify-content: left;
}

.sorting-listmode {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    margin-right: 8px;
}

.sorting-listmode:active,.sorting-listmode:hover,.sorting-listmode:focus {
    border: 2px solid #000000;
    border-radius: 4px;
}

.sorting-listmode:last-child {
    margin: 0;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    width: 1056px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    height: 181px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.card-picture {
    display: block;
    width: 180px;
    height: 120px;
    padding: 31px 37px 30px 0px;
}

.card-info {
    width: 320px;
    height: 120px;
    padding-top: 30px;
    padding-right: 361px;
}

.card-name {
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.card-prise-wrapper {
    display: flex;
    width: 235px;
    height: 23px;
    margin-bottom: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.card-type {
    margin: 0 auto;
    padding-right: 78px;
}

.card-price {
    margin: 0 auto;
}

.button-details {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.button-favorit {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.rating {
    display: block;
    width: 160px;
    height: 120px;
    padding-top: 30px;
    text-align:center ;
}

.rating-picture-4 {
    display: block;
    width: 90px;
    height: 17px;
    margin: 0 auto;
}

.rating-picture-3 {
    display: block;
    width: 68px;
    height: 17px;
    margin: 0 auto;
}

.rating-picture-2 {
    display: block;
    width: 43px;
    height: 17px;
    margin: 0 auto;
}

.info-rating {
    display: block;
    width: 160px;
    height: 37px;
    margin: 0 auto;
    margin-top: 63px;
    text-align: center;
    background: #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}

.catalog-button-loadmore {
    display: block;
    width: 625px;
    height: 55px;
    margin: 30px 288px 30px 288px;
    background: #83B3D3;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    height: 115px;
    border-top: 1px solid #E6E6E6;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;

}

.paginations-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto 0;
}

.pagination-link {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #83B3D3;
    border-radius: 4px;
}

.pagination-link:last-child {
    margin-right: 0px;
}

.pagination-controls {
    display: flex;
    width: 385px;
    height: 55px;
    margin: auto 0;

}

.pagination-text {
    display: block;
    width: 175px;
    height: 23px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.pagination-select {
    display: block;
    width: 160px;
    height: 48px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.catalog-subscribe {
    width: 1200px;
    height: 411px;
    background-color: #FFFFFF;
    background-repeat:no-repeat;
    color: #000000;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}