@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"),
        url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: local("PT Sans Bold"),
        url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    background-color: #fff;
}

main {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 410px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
}

.navigation-item {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.navigation-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.header-logo {
    margin: 0 auto;
}

.navigation-search {
    background-color: #fff;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;

}

.navigation-like{
    background-image: url(../images/like.png);
    background-repeat: no-repeat;
}


.main-index {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.main-intro {
    margin: 0 auto;
}

.main-intro_welcome {
    background-image: url(../images/index-background.jpg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 46px;
}



.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.benefits {
    margin: 0 auto;
    display: grid;     /* на будущее чисто попробовать */
}

.benefits-card {
    background-color: #83B3D3;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.benefits-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.benefits-card-bg {
    background-color: rgba(131, 179, 211, 0.12);
}

.benefits-card-textstyle{
    color: white;
}

.benefits-cards-food{
    background-color: #fff;
}

.benefits-card-passbg{
    background-color: rgba(131, 179, 211, 0.2);
}

.search-text{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.subscribe {
    background-image: url(../images/subscribe-background.jpg);
    background-repeat:no-repeat;
    color: #FFFFFF;
}

.footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.footer-social_twitter {
    background-image: url(../images/social-twitter.png);
    background-repeat:no-repeat;
}

.footer-social_facebook {
    background-image: url(../images/social-facebook.png);
    background-repeat:no-repeat;
}

.footer-social_youtube {
    background-image: url(../images/social-youtube.png);
    background-repeat:no-repeat;
}

.tel-number{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.filters {
    max-width: 1200px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background-image: url(../images/img_catalog/catalog-background.jpg);
    background-repeat: no-repeat;
}

.filters-heading {
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs  {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    list-style-type: none;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.catalog {
    max-height: 1056px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.catalog-filter {
    display: flex;
    justify-content: space-between;
}

.catalog-filter_group {
    display: flex;
    flex-direction: column;

}

.catalog-filter-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.catalog-fiter_apply {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.found {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.bottom-sorting-wrapper {
    display: flex;
    justify-content: left;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-picture {
    display: block;
    width: 180px;
    height: 120px;
}

.card-name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

.card-prise-wrapper {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.button-details {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.button-favorit {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.info-rating {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.catalog-button-loadmore {
    margin: 30px 288px 30px 288px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
}

.active-pagination-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.pagination-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: tomato; /* фон для вида белого текста */
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}