.main-intro {
    background: url(./images/index-background.jpg) no-repeat;
}

.subscribe {
    background: url(./images/subscribe-background.jpg) no-repeat;
}

.filters {
    background: url(./images/img_catalog/catalog-background.jpg) no-repeat;
}